@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background-color: var(--white);
    color: var(--black);

    transition: var(--default-transition);
}

h1, h2 {
    font-family: 'Sora', sans-serif;
}

mark {
    background-color: transparent;
    color: var(--primary);
}

#about:before,
#skills:before,
#projects:before,
#education:before,
#contacts:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--white);
    border-bottom: var(--lgrey-stroke);
}

.header__body {
    position: relative;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    z-index: 3;
    color: var(--black);

    transition: var(--default-transition);
}

.header__logo:hover {
    color: var(--primary);
}

.header__burger {
    display: none;
    transition: none;
}

.header__menu {
}

.menu {
}

.header__list {
    display: flex;
    column-gap: 30px;
    position: relative;
    z-index: 2;
    font-weight: 500;

}

.header__link {
    list-style: none;
    padding: 2px 4px;
    border-radius: 4px;
}

.header__link a {
    color: var(--black);
    transition: var(--default-transition);
}

.header__link a:hover {
    color: var(--primary);
}

/*-----------------------------------*/

.hero {
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__body {
    padding: 35px 40px;
    margin: 80px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 26px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.26;
}

.hero__subtitle {
    font-weight: 500;
    font-size: 24px;
    margin-top: 15px;
}

.hero__buttons {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.hero__btn {
    cursor: pointer;
    padding: 6px 15px 7px;
    color: var(--black);
    border: var(--default-stroke);
    border-radius: 50px;

    transition: var(--default-transition);
}

.hero__btn:hover {
    color: var(--white);
    background-color: var(--black);
}

/*-----------------------------------*/
.page {
}

.page__about,
.page__skills,
.page__projects,
.page__education,
.page__contacts {
    margin-bottom: 80px;
}

.about {
}

.about__title {
}

.page-title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 1.25;
}

.about__text {
}

.page-text {
    font-size: 20px;
    line-height: 150%;
}

/*-----------------------------------*/
.page__skills {
}

.skills {
}

.skills__title {
}

.page-title {
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 10px 20px;
}

.skills__list:not(:last-child) {
    margin-bottom: 20px;
}

.skills__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
}

/*-----------------------------------*/
.page__education {
}

.education {
}

.education__title {
}

.page-title {
}

.education__text {
}

.education__text_bold {
    font-weight: 700;
}

.page-text {
}

.education__text_grey {
    color: var(--grey);
    font-weight: 500;
}

/*-----------------------------------*/
.page__contacts {
}

.contacts {
}

.contacts__title {
}

.page-title {
}

.contacts__text {
}

.contacts__text_location {
    margin-top: 20px;
    color: var(--grey);
    font-size: 14px;
}

.page-text {
}

.contacts__link:link, .contacts__link:visited {
    color: var(--black);
    transition: var(--default-transition);
    border-bottom: var(--default-stroke);
}

.contacts__link:hover {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

.contacts__socials {
    margin-top: 25px;
}

.socials {
    display: flex;
    gap: 30px;
}

.socials__link {
    flex: 0 0 30px;
}

.socials__link i {
    font-size: 28px;
    color: var(--black);
    transition: var(--default-transition);
}

.socials__link:hover i {
    color: var(--primary);
}

.socials__link:active {
    opacity: 1;
    transform: translateY(1px);
}

.socials__img {
}

/*-----------------------------------*/
.footer {
    border-top: var(--lgrey-stroke);
}

.container {
}

.footer__body {
    text-align: center;
    color: var(--grey);
    margin: 30px 0 40px;
}

.footer__text,
.footer__copyright {
    font-size: 14px;
    line-height: 1.2;
}

.footer__copyright {
    margin-top: 10px;
}

/*-----------------------------------*/
.page__projects {
}

.projects {

}

.projects__title {
    margin-bottom: 15px;
}

.projects__body {
    display: flex;
    justify-content: center;
}

.project__inner {
}

.projects__image {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}

.projects__image img {
    transition: var(--default-transition);
}

.projects__image:hover img {
    transform: scale(102%);
    opacity: .95;
}

.projects__panel {
    margin-top: 20px;
}

.panel-projects {
}

.panel-projects__name {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);

    transition: var(--default-transition);
}

.panel-projects__name:hover {
    color: var(--primary);
}

.panel-projects__remote {
    margin-top: 10px;
}

.remote {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.remote__circles {
    display: flex;
    gap: 8px;
}

.remote__item {
    height: 6px;
    aspect-ratio: 1;
    border-radius: 8px;
    background-color: var(--grey);
    cursor: pointer;

    transition: var(--default-transition);
}

.remote__item.active {
    width: 16px;
    background-color: var(--black);
}

.remote__item:hover {
    background-color: var(--primary);
}


.remote__buttons {
    display: flex;
    gap: 10px;
}

.remote__button {
    width: 44px;
    padding: 8px;
    border-radius: 50%;
    border: var(--default-stroke);

    transition: var(--default-transition);
}

.remote__button:hover {
    color: var(--white);
    background-color: var(--black);
}

.remote__button i {
    font-size: 24px;
}

/*-----------------------------------*/
@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        padding: 15px 0;
    }

    .header__logo {
    }

    .header__burger {
        display: block;
        position: relative;
        z-index: 3;

        width: 30px;
        height: 20px;
    }

    .header__burger:hover span,
    .header__burger:hover::before,
    .header__burger:hover::after {
        background-color: var(--primary);
    }

    .header__burger span {
        position: absolute;
        top: 8px;
        width: 100%;
        height: 4px;
        background-color: #1a1a1a;

        transition: var(--default-transition);
    }

    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: var(--black);
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;

        transition: var(--default-transition);
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: rotate(45deg);
        opacity: 0;
    }

    .header__burger.active::before {
        top: 8px;
        transform: rotate(45deg);
    }

    .header__burger.active::after {
        bottom: 8px;
        transform: rotate(-45deg);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 80px 20px;
        overflow: auto;
        background-color: var(--white);

        transition: var(--default-transition);
    }

    .header__menu.active {
        top: 0;
    }

    .menu {
    }

    .header__list {
        column-gap: 0;
        flex-direction: column;
        row-gap: 30px;
    }

    .header__link {
        font-size: 32px;
    }

    .hero__title {
        font-size: 48px;
    }

    .hero__subtitle {
        font-size: 20px;
    }

    .hero__buttons {
        margin-top: 25px;
        gap: 10px;
        font-size: 14px;
    }

    .hero__btn {
        width: 100%;
    }

    .page-title {
        font-size: 36px;
    }

    .page-text {
        font-size: 16px;
    }

    .skills__list {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media (max-width: 542px) {
    .projects__image {
        border-radius: 20px;
    }
}

@media (max-width: 425px) {
    .hero__body {
        margin: 40px 10px;
        padding: 30px;
    }

    .hero__title {
        font-size: 27px;
    }

    .hero__subtitle {
        margin-top: 10px;
        font-size: 18px;
    }

    .skills__list {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .skills__item {
        font-size: 18px;
    }

    .projects__image {
        border-radius: 13px;
    }

    .remote__button {
        padding: 6px;
        width: 36px;
    }

    .remote__button i {
        font-size: 18px;
    }
}