:root {
    /*Colors*/
    --black: #1E1E1E;
    --grey: #777777;
    --light-grey: #e7e7e7;
    --white: #fafafa;
    --primary: #ff5a1b;


    /*Transitions*/
    --default-transition: all .3s linear;

    /*Strokes*/
    --default-stroke: 1px solid var(--black);
    --lgrey-stroke: 1px solid var(--light-grey);
}